<footer>
  <div class="container text-center">
    <p class="text-muted">Made by <a href="http://qrohlf.com">@qrohlf</a>.</p>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
// parallax header
jQuery(document).ready(function($) {
    $(window).scroll( function()
    {
        var scroll = $(window).scrollTop(), slowScroll = scroll/4;
        var headerheight = $('header').height();
        $('header').css({ transform: "translateY(" + slowScroll + "px)" });
        $('header .container').css({ opacity: Math.min(1, 1.2 - scroll/headerheight) });
    });
});
</script>