<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="site-content">
        <div class="container">
          {{ content }}
        </div>
    </div>

    {% include footer.html %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
    {% include parallax.js %}
    // fix for relative port url
    document.addEventListener('click', function(event) {
        var target = event.target;
        if (target.tagName.toLowerCase() == 'a')
        {
            var port = target.getAttribute('href').match(/^:(\d+)(.*)/);
            if (port)
            {
                target.href = port[2];
                target.port = port[1];
            }
        }
    }, false);
    </script>
    </body>
</html>